/CV-LuisMastrangelo.aux
/CV-LuisMastrangelo.bbl
/CV-LuisMastrangelo.blg
/CV-LuisMastrangelo.fdb_latexmk
/CV-LuisMastrangelo.fls
/CV-LuisMastrangelo.log
/CV-LuisMastrangelo.out
/CV-LuisMastrangelo.synctex.gz
